.signin-btn {
    width: 270px;
    height: 48px;
    background: transparent;
    margin-top: 14px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    border: var(--text-color) 1px solid;
    transition: all 0.2s ease;
    &:hover {
        cursor: pointer;
        border-color: #fff;
    }
}

.round-btn {
    border-radius: 50%;
    background: #2a2a2a;
    color: #555;
    border: none;
    padding: 7px 8px;

    &.active {
        color: #85bf6b;
    
        &:hover {
            color: #85bf6b;
        }
    }

    &:hover {
        color: #999;
    }
}