.item_container {
    border-bottom: 1px dotted #666;
    padding: 0 0 0px;
    

    .todo_content {
        position: relative;
        background: transparent;
        border: none;
        color: #fff;
        font-size: 22px;
        font-weight: 300;
        line-height: 60px;
        outline: none;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        &.active {
            color:#85bf6b;
            
        }
    }


    &.item--completed {
        .todo_content:after {
            position: absolute;
            left: 0;
            bottom: 0;
            border-top: 2px solid #85bf6b;
            width: 100%;
            width: text;
            height: 46%;
            content: "";
        }
    }
}