.todo_input {
    outline: none;
    border: 0;
    border-bottom: 1px dotted #666;
    border-radius: 0;
    padding: 0 0 5px;
    width: 100%;
    font-family: inherit;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    background: transparent;
    -webkit-font-smoothing: antialiased;
}